body {

}
.wrapper .topbar-wrapper .link img{
   display:contents
}

title {
    visibility: hidden;
    position: relative;
}

title:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "New title";
}